$def with (title, user, role, msg, error, list_of_users, list_of_comments)
$var title: $title
$var user: $user

<div class="row">
    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="starter-template">
            <h1>Welcome, $user!</h1>
            <p class="lead">You are logged in as an administrator!</p>
        </div>
    </div><!-- /.col -->
</div><!-- /.row -->
<div class="row">
    <div class="col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2">
        <div>
        	<a href="/register" class="btn btn-default btn-block">Register New Employee</a>
        </div>
    </div><!-- /.col -->
</div><!-- /.row -->
<br/>
<div class="row">
    <div class="col-sm-12">
        <div>
        	<table class="table table-striped">
          <caption>List of Users</caption>
        		<tr>
                  	<th>name</th>
                  	<th>email</th>
                  	<th>created_at</th>
                  	<th>updated_at</th>
                  	<th>sign_in_count</th>
                  	<th>current_sign_in_at</th>
                  	<th>last_sign_in_at</th>
                  	<th>current_sign_in_ip</th>
                  	<th>last_sign_in_ip</th>
                  	<th>privilege</th>
                  	<th>Edit</th>
                  	<th>Delete</th>
                    $for user in list_of_users
                        <tr>
                          <td>$user['first_name'] $user['last_name'] </td>
                          <td>$user['email']</td>
                          <td>$user['created_at']</td>
                          <td>$user['updated_at']</td>
                          <td>$user['sign_in_count']</td>
                          <td>$user['current_sign_in_at']</td>
                          <td>$user['last_sign_in_at']</td>
                          <td>$user['current_sign_in_ip']</td>
                          <td>$user['last_sign_in_ip']</td>
                          <td>$user['privilege']</td>
                          <td><a href="/edit/$user['id']" class="btn btn-warning btn-block">Edit</a></td>
                          <td><a href="/delete/$user['id']" class="btn btn-danger btn-block">Delete</a></td>
                        </tr>
                      </tr>
              	</tr>
                <table class="table table-striped">
                <caption>List of Comments</caption>
                <tr>
                    <th>id</th>
                    <th>name</th>
                    <th>email</th>
                    <th>content</th>
                    $for comment in list_of_comments
                        <tr>
                          <td>$comment['id']</td>
                          <td>$comment['name']</td>
                          <td>$comment['email']</td>
                          <td>$comment['content']</td>
                        </tr>
                      </tr>
                </tr>
          </table>
        	</table>
        </div>
    </div><!-- /.col -->
</div><!-- /.row -->
