$def with (title, form, formNew, formExisting, form_name, user, msg, error)
$var title: $title
$var user: $user

<div class="row">
    <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="starter-template">
            <h1>$form_name</h1>
        </div>

        <form name ="main" method="post">
            $if msg != "":
                <p><font color="black"> $msg </font></p>
            $if error != "":
                <p><font color="red"> $error </font></p>

            <div style="padding: 20px 0;">
                <label class="radio-inline"><input id="new-guest" type="radio" name="optradio">New Guest</label>
                <label class="radio-inline"><input id="existing-guest" type="radio" name="optradio" checked="true">Existing Guest</label>
            </div>
            <div id = "newForm" style="display: none; padding: 20px 0;">
                $:formNew.render()
            </div>
            <div id = "existingForm" style="padding: 20px 0;">
                $:formExisting.render()
            </div>

            $:form.render()

        </form>

        <!-- <script>$('datepicker').datepicker();</script> -->
        <br/><br/><br/>
    </div><!-- /.col -->
</div><!-- /.row -->
       