$def with (title, user, list_of_facilities)
$var title: $title
$var user: $user

<div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
        <div class="starter-template">
            <h1>About HMS</h1>
            <span class="tittle-line"></span>
            <br/><br/>
            
            <p>This is the final project for CPE356 - Introduction to Database Systems. </p>
            
            <p>The task for this assignment is simple: create an application that utilizes a database.</p>
            
            <p>HSM is Hotel Management Software that lets key personnel to perform their daily duties by accessing the list of reservations, check-ins and check-outs real time.</p>


            <p>List of Facilities:</p>

            <ul>
            $for facility in list_of_facilities
                <li>Number of pool(s) available: $facility['pool']</li>
                <li>Number of smoking area(s) available: $facility['smoking_area']</li>
                <li>Number of fitness center(s) available: $facility['fitness_center']</li>
                <li>Number of meeting rooms(s) available: $facility['meeting_room']</li>
                <li>Number of gift shop(s) available: $facility['gift_shop']</li>
                <li>Number of spa(s) available: $facility['spa']</li>
            </ul>
        </div>
    </div><!-- /.col -->
</div><!-- /.row -->
