$def with (title, user)
$var title: $title
$var user: $user

<div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
        <div class="starter-template">
            <h1>About HMS</h1>
            
            <br/><br/>
            
            <p>This is the final project for CPE356 - Introduction to Database Systems. </p>
            
            <p>The task for this assignment is simple: create an application that utilizes a database.</p>
            
            <p>HSM is Hotel Management Software that lets key personnel to perform their daily duties by accessing the list of reservations, check-ins and check-outs real time.</p>
        </div>
    </div><!-- /.col -->
</div><!-- /.row -->
