$def with (title, user, form, msg, error)
$var title: $title
$var user: $user

<div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
        <div class="starter-template">
            <h1>Contact Us</h1>
            <span class="tittle-line"></span>
            <p class="lead">Leave us any questions or comments!</p>
        </div>

        <form name ="main" method="post">
            $if msg != "":
                <p><font color="black"> $msg </font></p>
            $if error != "":
                <p><font color="red"> $error </font></p>

            $:form.render()

        </form>

    </div><!-- /.col -->
</div><!-- /.row -->